* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
    --color-one:#050f1d;
    --color-two:#e5a052;
    --color-three:#EADBC8;
    --color-four:#FEFAF6;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

html, body {
    font-family: Poppins;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-one);
    height: 8vh;
    width: 90%;
    position: fixed;
    z-index: 1000;
}

.logo h3 {
    color: var(--color-two);
}

.logo span {
    color: var(--color-four);
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 8vh;
}

nav ul li a:hover {
    color: var(--color-two);
    border-bottom: 3px solid var(--color-two);
    transform: translateY(2px);
}

nav ul li a {
    transition: 0.3s ease;
    color: var(--color-four);
    font-size: 2vh;
}

.menu{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}

.menu span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--color-four);
    border-radius: 3px;
    transition: 0.3s ease;
}

/* NAVBAR ANIMATION */
.menu span:nth-child(2) {
    transform-origin: 0 0;
}

.menu span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

.menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

/* HOME */
#home {
    background-color: var(--color-four);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-box img {
    height: auto;
    width: 40vh;
    border-radius: 50%;
    border: 3px solid black;
    margin: 40px;
}

.home-box h2 {
    font-weight: 800;
    color: var(--color-two);
}

.home-box span {
    color: var(--color-one);
}

.home-box p {
    padding: 10px;
    margin-bottom: 20px;
}

.home-box a {
    font-weight: 600;
    background-color: var(--color-two);
    color: var(--color-one);
    padding: 8px 15px;
    border: 3px solid var(--color-one);
    border-radius: 25px;
    transition: 0.3s ease-out;
    box-shadow: 10px 10px var(--color-one);
}

.home-box a:hover {
    background-color: var(--color-one);
    color: var(--color-two);
    box-shadow: none;
}

/* ABOUT */
#about {
    background-color: var(--color-four);
}

.about-box {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.about-box h2 {
    padding: 20px;
    text-align: center;
    color: var(--color-two);
}

.about-box span {
    color: var(--color-one);
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 40vh;
    border-radius: 20px;
    border: 3px solid var(--color-one);
    box-shadow: 10px 10px var(--color-one);
}

.right {
    padding-right: 8vw;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right h4 {
    text-align: justify;
    font-weight: 400;
}

.mid {
    padding: 0 16vw;
}

.edu h3 {
    padding: 10px 0;
}
.edu h4 {
    font-weight: 400;
    font-style: italic;
    color: var(--color-two);
    padding-bottom: 5px;
}

@counter-style star {
    system: cyclic;
    symbols: "✦";
    suffix:' ';
}

.edu-list li{
    font-weight: 500;
    margin-left: 40px;
    list-style-position: outside;
    list-style: star;
}

.bot {
    padding: 0 16vw;
    margin-bottom: 10vh;
}

.org h3 {
    padding: 10px 0;
}
.org h4 {
    font-weight: 400;
    font-style: italic;
    color: var(--color-two);
    padding: 5px 0;
}

@counter-style star {
    system: cyclic;
    symbols: "✦";
    suffix:' ';
}

.org-list li{
    font-weight: 500;
    margin-left: 40px;
    list-style-position: outside;
    list-style: star;
}

/* SKILL */
#skill {
    background-color: var(--color-four);
    padding: 10vh 16vw;
}

#skill h2 {
    text-align: center;
    color: var(--color-two);
    padding: 10px 0;
}

#skill span {
    color: var(--color-one);
}

#skill h4 {
    padding: 12px 0;
    font-style: italic;
    color: var(--color-two);
    font-weight: 400;
}

#skill span {
    color: var(--color-one);
}

.tec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}

.tec img {
    height: 10vh;
    padding: 20px;
    transition: 0.3s ease;
    filter: grayscale(100%) drop-shadow(5px 5px var(--color-one));
}

.tec img:hover {
    transform: translateY(5px);
    filter: none;
}

.pro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}

.pro img {
    height: 10vh;
    padding: 20px;
    transition: 0.3s ease;
    filter: grayscale(100%) drop-shadow(5px 5px var(--color-one));
}

.pro img:hover {
    transform: translateY(5px);
    filter: none;
}

.per li {
    font-weight: 500;
    margin-left: 40px;
    list-style-position: outside;
    list-style: star;
}

/* PROJECT */
#project {
    background-color: var(--color-four);
    height: 100vh;
}

/* FOOTER */
footer {
    padding: 2vh 5vw;
    background-color: var(--color-one);
}

footer h3 {
    text-align: center;
    color: var(--color-two);
}

footer span {
    color: var(--color-four);
}

footer p {
    text-align: center;
    color: var(--color-four);
}

.foot-ima {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 4vh 16vw;
    gap: 5vw;
}

.foot-ima img {
    width: 3vw;
    height: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.foot-ima img:hover {
    filter: none;
}

/* BREAK POINT */

@media screen and (max-width:768px) {
    nav ul {
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 0;
        padding-top: 10vh;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--color-one);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    
    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }

    .menu {
        display: flex;
    }

    .second {
        flex-direction: column;
    }

    .left img {
        width: 60vw;
    }

    .right {
        padding-top: 6vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .mid {
        padding: 0 10vw;
    }

    .bot {
        padding: 0 10vw;
    }

    #skill {
        padding: 8vh 8vw;
    }

    .tec img {
        height: 6vh;
    }

    .pro img {
        height: 6vh;
    }

    .foot-ima img {
        width: 9vw;
    }

}